/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */
body{
	font: 12px/1.6 arial,helvetica,sans-serif;
}

@font-face{
	font-family: "Bitstream Vera Serif Bold";
	src: url("http://developer.mozilla.org/@api/deki/files/2934/=VeraSeBd.ttf");
}

#logo{
	display: block;
	float: left;
	margin: 55px 0 0 -92px;
	height: 64px;
	width: 135px;
	overflow: hidden;
	color: transparent;
	line-height: 100em;
	background: no-repeat 0 0;
	background-image: url('../images/logo.png');
}

#user_home_logo{
	margin: 80px 100px 0 80px;
}

#user_home_navbar_brand{
	font-family: "Bitstream Vera Serif Bold", serif;
}

/* bootstrap afix style*/
ul.affix {
	position: fixed;
	top: 90px;
	left: 142px;
	width: 360px
}
ul.affix-top {
	position: fixed;
	top: 90px;
	left: 142px;
	width: 360px
}
ul.affix-bottom {
	position: fixed;
	top: 90px;
	left: 142px;
	width: 360px
}
 
/* First level of nav */
.sidenav {
	margin-top: 20px;
	margin-bottom: 30px;
	padding-top:    10px;
	padding-bottom: 10px;
	/*background-color: #f7f5fa;*/
	border-radius: 5px;
}
 
/* All levels of nav */
.sidebar .nav > li > a {
	display: block;
	color: #716b7a;
	padding: 5px 20px;
}
.sidebar .nav > li > a:hover,
.sidebar .nav > li > a:focus {
	text-decoration: none;
	background-color: #e5e3e9;
}
.sidebar .nav > .active > a,
.sidebar .nav > .active:hover > a,
.sidebar .nav > .active:focus > a {
	font-weight: bold;
	color: #563d7c;
	background-color: transparent;
}
 
/* Nav: second level */
.sidebar .nav .nav {
    display: none;
}
.sidebar .nav > li.active .nav {
    display:block;
}
.sidebar .nav .nav {
 	margin-bottom: 8px;
}
.sidebar .nav .nav > li > a {
	padding-top:    3px;
	padding-bottom: 3px;
	padding-left: 30px;
	font-size: 90%;
}
#content {
    margin-top:39px;
}
/*end*/

.cover-wrap {
	position: relative;
	float: left;
	width: 45px;
	height: 45px;
	margin-right: 10px;
	cursor: pointer;
}

.cover-mask{
	position: absolute;
	top: 0;
	left: 0;
	width: 45px;
	height: 45px;
	background: center center no-repeat;
	background-image: url('http://img3.douban.com/f/fm/6f2d282b3d515296a5ea2a60eccae0ba2d97ca89/pics/fm/home/covermask.png');
}

.cover{
	height:45px;
	width:45px
}

#logo-div{
	position: relative;
	width: 900px;
	min-height: 144px;
	margin: 0 auto;
	z-index: 50;
}

#login-div {
	background: #e5e6e6;
	display: inline-block;
	margin: 25px -95px 0px 500px;
	float: right;
	font: 12px/1.6 arial,helvetica,sans-serif;
	padding: 8px 17px;
}

.bs-docs-sidebar .nav>li>a:hover,.bs-docs-sidebar .nav>li>a:focus
{
	background-color: transparent;
	border-left: 1px solid #563d7c;
	color: #563d7c;
	padding-left: 19px;
	text-decoration: none;
}
.bs-docs-sidebar .nav>.active>a,.bs-docs-sidebar .nav>.active:hover>a,.bs-docs-sidebar .nav>.active:focus>a
{
	background-color: rgba(92, 21, 21, 0);
	border-left: 2px solid #563d7c;
	color: #130A20;
	font-weight: 700;
	padding-left: 18px;
}

.slide-lable{
	font: 14px/1.6 arial,helvetica,sans-serif;
	/*color: gray;*/
	margin-left: 20px;
	margin-top: 10px;
}

.userhome-music-li{
	color: gray;
	font-size: 12px;
	margin-bottom: 2px;
	margin-left: 120px;
	margin-top: 8px;
}

.love-icon:hover {
	display: block;
	background: url('../images/love_icon.png') no-repeat -14px -91px;
	width: 16px;
	height: 16px;
	margin-top: -15px;
	margin-left: 160px;
}

.love-icon {
	/*background: transparent url('../images/love_icon.png') no-repeat;*/
	display: block;
	background: url('../images/love_icon.png') no-repeat -14px -63px;
	width: 16px;
	height: 16px;
	margin-top: -15px;
	margin-left: 160px;
}

.unlove-icon {
	display: block;
	background: url('../images/love_icon.png') no-repeat -14px -91px;
	width: 16px;
	height: 16px;
	margin-top: -15px;
	margin-left: 160px;
}

.unlove-icon:hover {
	/*background: transparent url('../images/love_icon.png') no-repeat;*/
	display: block;
	background: url('../images/love_icon.png') no-repeat -14px -63px;
	width: 16px;
	height: 16px;
	margin-top: -15px;
	margin-left: 160px;
}