
{% load staticfiles %}
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>

<head>
    <title>xiuer.FM</title>
    <link rel="shortcut icon" href="{% static 'musicApp/images/favicon.ico'%}" />
    <meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
    <link rel="stylesheet" type="text/css" href="{% static 'musicApp/plugin/musicplayer/plugin/css/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'musicApp/plugin/musicplayer/demo/css/demo.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'musicApp/css/musicApp.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'musicApp/css/bootstrap.css' %}" media="screen">

    <!-- Add bootstrap lib -->
    <!-- 最新 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="{% static 'musicApp/common/dist/css/bootstrap.min.css' %}">
    <!-- 可选的Bootstrap主题文件（一般不用引入） -->
    <link rel="stylesheet" href="{% static 'musicApp/common/dist/css/bootstrap-theme.min.css' %}">
    <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
    <script src="{% static 'musicApp/common/dist/js/jquery.min.js' %}"></script>
    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="{% static 'musicApp/common/dist/js/bootstrap.min.js' %}"></script>
    <!-- END:Add bootstrap lib -->

    <script type="text/javascript" src="{% static 'musicApp/plugin/musicplayer/plugin/jquery-jplayer/jquery.jplayer.js' %}"></script>

    <script type="text/javascript" src="{% static 'musicApp/plugin/musicplayer/plugin/ttw-music-player-min.js' %}"></script>
    <script type="text/javascript" src="{% static 'musicApp/musicAppJs/musicList.js' %}"></script>

    <div id="logo-div">
        <div id="logo"> </div>
        <div id="login-div"> 
            <a href="#" data-toggle="modal" data-target="#login_form_modal" style="text-decoration: none;">登录 &nbsp</a>
            <a href="#" data-toggle="modal" data-target="#register_form_modal" style="text-decoration: none;">马上注册</a>
            <a href="https://github.com/lianliangwu/xiuer.fm" target='_blank'><img style="position: fixed; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/a6677b08c955af8400f44c6298f40e7d19cc5b2d/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f677261795f3664366436642e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_gray_6d6d6d.png"></a>
        </div>
    </div>


</head>

<body>
    
    <!-- temp value store -->
    <div id='content'>
        <input type='hidden' id='myPlaylist_input' value='{{myPlaylist2}}'/>
    </div>
    <div id='content'>
        <input type='hidden' id='error_message_input' value='{{error_message}}'/>
    </div>
    <div id='content'>
        <input type='hidden' id='current'/>
    </div>

    <!-- error message -->
    <div class="modal fade error-modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" style="position: initial;">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <div style="font: 16px/1.6 arial,helvetica,sans-serif;padding: 5px 7px;color: gray;">温馨提示</div>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-8">
                            <div style="font: 14px/1.6 arial,helvetica,sans-serif;padding: 5px 7px;color: gray;"> {{ error_message }} </div>
                        </div>
                        <div class="col-md-4">
                            <div id="logo" style="margin: auto;"> </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <p style="float: left;font-family: monospace;font-style: italic;"> 
                        <font style="color: rgb(147, 204, 142);font-size: 14px;"><font style="color: rgb(90, 185, 230);font-size: xx-large;">xiuer.FM </font> -special for you</font></p>
                    <a href="{% url 'musicApp:music-home' %}"><div class='userhome-a-font'> Xiuer.FM 主页 </div></a>
                </div>
            </div>
        </div>
    </div>

    <!-- login dialog -->
    <div>
        <!-- login_form_modal -->
        <div class="modal fade" id="login_form_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog" style="left: 0%;">
                <form action="/musicApp/login/" method="POST">
                    {% csrf_token %} 
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <div style="font: 13px/1.6 arial,helvetica,sans-serif;padding: 5px 7px;"> 登录 </div>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-md-8 ">
                                    <div class="input-group " style="margin-bottom: 10px;">
                                        <span class="input-group-addon">帐号</span>
                                        <input name="username" value="{{ user.username }}" type="text" class="form-control" placeholder="UserName">
                                    </div>
                                    <div class="input-group " style="margin-bottom: -15px;">
                                        <span class="input-group-addon">密码</span>
                                        <input name="password" value="{{ user.password }}" type="password" class="form-control" placeholder="Password">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div id="logo" style="margin: auto;"> </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <p style="float: left;font-family: monospace;font-style: italic;"> 
                                <font style="color: rgb(147, 204, 142);font-size: 14px;"><font style="color: rgb(90, 185, 230);font-size: xx-large;">xiuer.FM </font> -special for you</font></p>
                            <button type="submit" class="btn btn-default"> 登录 </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- channel panel -->
    <!-- affix-nav -->
    <div id="channel panel" class="bs-docs-sidebar col-md-4 col-sm-4 hidden-xs">
        <ul class="nav sidenav" style="top: 80px;margin-left: 200px;position: fixed;width: 300px;">
            <!-- Moon MHZ -->
            <li><a href="#"><div class='userhome-font'>月亮 MHz</div></a></li>
            <li>
                <!-- <a href="{% url 'musicApp:music-randomchannel'%}" style="color=rgba(138, 148, 156, 0.91)"> -->
                <a href="#" style="color=rgba(138, 148, 156, 0.91)"> 
                    <div class="cover-wrap">                              
                        <img class="cover img-circle" src="http://img3.douban.com/img/fmadmin/icon/26375.jpg">
                    </div>             
                    <div>                 
                        <div class="slide-lable" data-toggle="tooltip" title="要不来些偶遇的歌曲吧。很抱歉，因为你不是妞妞，所以你能听到的音乐就只有这些了         顺便致我的笨妞妞-记得用你的名字登录哦">随心MHz</div>          
                    </div>  
                </a>                   
            </li>

        </ul>
    </div>
    <!-- register dialog -->
    <div>
        <!-- register_form_modal -->
        <div class="modal fade" id="register_form_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog" style="left: 0%;">
                <form action="/musicApp/register/" method="POST">
                    {% csrf_token %} 
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <div style="font: 13px/1.6 arial,helvetica,sans-serif;padding: 5px 7px;"> 亲爱的，我们一起注册吧  ^_^ </div>
                            <div style="font: 13px/1.6 arial,helvetica,sans-serif;padding: 5px 7px;color: rgb(133, 140, 144);"> 记下我们一起在音乐世界里的脚步，等我们都老了，我们再回来翻翻 ~  </div>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-md-8 ">
                                    <div class="input-group " style="margin-bottom: 10px;">
                                        <span class="input-group-addon">家</span>
                                        <input name="pairname" value="" type="text" class="form-control" placeholder="home">
                                    </div>
                                    <div class="input-group " style="margin-bottom: 10px;">
                                        <span class="input-group-addon">她</span>
                                        <input name="username" value="" type="text" class="form-control" placeholder="她的帐号">
                                    </div>
                                    <div class="input-group " style="margin-bottom: 10px;">
                                        <span class="input-group-addon">他</span>
                                        <input name="username2" value="" type="text" class="form-control" placeholder="他的帐号">
                                    </div>
                                    <div class="input-group " style="margin-bottom: -15px;">
                                        <span class="input-group-addon">密码</span>
                                        <input name="password" value="" type="password" class="form-control" placeholder="我们共同的密码">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div id="logo" style="margin: auto;"> </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <p style="float: left;font-family: monospace;font-style: italic;"> 
                                <font style="color: rgb(147, 204, 142);font-size: 14px;"><font style="color: rgb(90, 185, 230);font-size: xx-large;">xiuer.FM </font> -special for you</font></p>
                            <button type="submit" class="btn btn-default"> 注册 </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- <div class="get-new-list"></div> -->


</body>
</html>