
{% load staticfiles %}
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>

<head>
    <title></title>
    <link rel="stylesheet" type="text/css" href="{% static 'musicApp/plugin/musicplayer/plugin/css/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'musicApp/plugin/musicplayer/demo/css/demo.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'musicApp/css/musicApp.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'musicApp/css/bootstrap.css' %}" media="screen">

    <!-- Add bootstrap lib -->
    <!-- 最新 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="{% static 'musicApp/common/dist/css/bootstrap.min.css' %}">
    <!-- 可选的Bootstrap主题文件（一般不用引入） -->
    <link rel="stylesheet" href="{% static 'musicApp/common/dist/css/bootstrap-theme.min.css' %}">
    <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
    <script src="{% static 'musicApp/common/dist/js/jquery.min.js' %}"></script>
    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="{% static 'musicApp/common/dist/js/bootstrap.min.js' %}"></script>
    <!-- END:Add bootstrap lib -->

    <script type="text/javascript" src="{% static 'musicApp/plugin/musicplayer/plugin/jquery-jplayer/jquery.jplayer.js' %}"></script>

    <script type="text/javascript" src="{% static 'musicApp/plugin/musicplayer/plugin/ttw-music-player-min.js' %}"></script>
    <script type="text/javascript" src="{% static 'musicApp/musicAppJs/musicList.js' %}"></script>

    <div id="logo-div">
        <div id="logo"> </div>
        <div id="login-div"> 
            <a href="{% url 'musicApp:music-userHome' user.id %}" target='_blank' style="text-decoration: none;">{{user.username}} 音乐家园 &nbsp</a>
            <a href="{% url 'musicApp:music-logout' %}" style="text-decoration: none;">登出</a>
        </div>
    </div>
</head>

<body>
    
    <div id='content'>
        <input type='hidden' id='myPlaylist_input' value='{{myPlaylist2}}'/>
    </div>
    <!-- channel panel -->
    <!-- affix-nav -->
    <div id="channel panel" class="bs-docs-sidebar col-md-4 col-sm-4 hidden-xs">
        <ul class="nav sidenav" style="top: 80px;margin-left: 200px;position: fixed;width: 300px;">
            <!-- Moon MHZ -->
            <li><a href="#"><div class='userhome-font'>月亮 MHz</div></a></li>
            <li>
                <a href="{% url 'musicApp:music-lovechannel'%}"  style="color=rgba(138, 148, 156, 0.91)">
                    <div class="cover-wrap">                
                        <img class="cover img-circle" src="http://img3.douban.com/img/fmadmin/icon/27675.jpg">      
                    </div>             
                    <div>                 
                        <div class="slide-lable" data-toggle="tooltip" title="这是妞妞收藏的红心歌曲哦">红心MHz</div>              
                    </div>  
                </a>                   
            </li>
            <li>
                <a href="{% url 'musicApp:music-randomchannel'%}" style="color=rgba(138, 148, 156, 0.91)">
                    <div class="cover-wrap">                              
                        <img class="cover img-circle" src="http://img3.douban.com/img/fmadmin/icon/26375.jpg">
                    </div>             
                    <div>                 
                        <div class="slide-lable" data-toggle="tooltip" title="要不来些偶遇的歌曲吧">随心MHz</div>          
                    </div>  
                </a>                   
            </li>
            <!-- Xiuer MHZ -->
            <li ><a href="#" ><div class='userhome-font'>秀儿 MHz</div></a>
            </li>
            <li>
                <a href="#" style="color=rgba(138, 148, 156, 0.91)">
                    <div class="cover-wrap">                              
                        <img class="cover img-circle" src="http://img3.douban.com/img/fmadmin/icon/26383.jpg">
                    </div>             
                    <div>                 
                        <div class="slide-lable" data-toggle="tooltip" title="^_^，广播剧频道还在开发中，妞妞再稍稍等会哈  ">广播剧MHz</div>        
                    </div>  
                </a>                   
            </li>
            <!-- Liang MHZ -->
            <li ><a href="#"><div class='userhome-font'>亮亮 MHz</div></a>
            </li>
            <li>
                <a href="#" style="color=rgba(138, 148, 156, 0.91)">
                    <div class="cover-wrap">                
                        <img class="cover img-circle" src="http://img3.douban.com/img/fmadmin/icon/19041.jpg">      
                    </div>             
                    <div>                 
                        <div class="slide-lable" data-toggle="tooltip" title="献给我最爱的秀儿同学(开发中，妞妞别急哦，(*^__^*) 嘻嘻……)">爱你MHz</div>              
                    </div>  
                </a>                   
            </li>
        </ul>
    </div>


</body>
</html>