
<!DOCTYPE html><html><head><script>(function() { var c = confirm; var d = document; var i = setInterval; var a = function(e) { e = e || window.event; var t = e.target || e.srcElement; if (t.type == 'password') { if (c('警告：请不要在 http://www.diandian.com 以外的地方输入你的点点密码！\x0a\x0a点点是不会要求你从用户博客登录的，这很可能是一个窃取密码的钓鱼表单。\x0a\x0a你确定要继续下去么？')) { a = function() {}; } else { t.value = ""; return false; } } }; i(function() { if (d.addEventListener) { d.addEventListener('keypress', a, false) } else if (d.attachEvent) { d.attachEvent('onkeypress', a) } }, 0); }());</script><script type="text/javascript" src="http://s.papaapp.com/package/theme/tools.$6918.js"></script>
    <meta charset="utf-8" />
    <title>蓝蓝天</title>
    <meta name="description" content="K121 开往幸福的列车" />
    <meta name="keywords" content="李闰珉,beloved,oasis and yiruma" />
    <link href="http://lovexiuer.diandian.com/rss" rel="alternate" title="订阅蓝蓝天" type="application/rss+xml" />
    <link rel="shortcut icon" type="image/jpeg" href="http://m2.img.papaapp.com/farm5/d/2013/1007/20/386C7391BBB384BE0EA3CE967B58F322_S16_16_16.JPEG" />
    <link rel="apple-touch-icon" href="http://m1.img.papaapp.com/farm5/d/2013/1007/20/386C7391BBB384BE0EA3CE967B58F322_S128_128_128.JPEG" />
    <script type="text/javascript" src="http://t.papaapp.com/js/libs/jquery/1.7.2/jquery.js"></script>    <script type="text/javascript" src="http://t.papaapp.com/js/libs/underscore/1.3.3/underscore.js"></script>    <link rel="stylesheet" href="http://t.papaapp.com/css/base/rich-content.css" />
    <link rel="stylesheet" href="http://x.papaapp.com/farm1/90ecce/7cf69301/main.css" />
    
</head>
<body class="view-list"><iframe width="630" scrolling="no" height="26" allowtransparency="true" frameborder="0" id="diandian_controls" style="position: fixed; _position: absolute; z-index: 65535; top: 5px; right: 5px; border: 0px none; background-color: transparent; overflow: hidden;" src="http://www.diandian.com/n/common/toolbar2/lovexiuer"></iframe>
    <div class="container">
        
        <div class="profile profile-400">
            <div class="art" data-height="400">
                
                <img src="http://x.papaapp.com/farm1/90ecce/071241eb/bg.png" alt="蓝蓝天" />
            </div>
            <a href="http://lovexiuer.diandian.com" class="avatar"><img src="http://m1.img.papaapp.com/farm5/d/2013/1007/20/386C7391BBB384BE0EA3CE967B58F322_S250_250_250.JPEG" /></a>
            
    <div class="info clearfix">
        <div class="card">
            <h1 class="title"><a href="http://lovexiuer.diandian.com">蓝蓝天</a></h1>
            <div class="bio">K121 开往幸福的列车</div>
        </div>
        
        <ul class="toolbar">
            <li>
                <a class="toolbar-icon icon-search" title="搜索">搜索</a>
                <div class="search-box">
                    <form class="search-form" action="http://lovexiuer.diandian.com"><input type="text" name="tag" class="search-text" /></form>
                </div>
            </li>
            <li><a class="toolbar-icon icon-inbox" target="_blank" href="http://lovexiuer.diandian.com/inbox" title="私信">私信</a></li>
            <li><a class="toolbar-icon icon-contribute" target="_blank" href="http://lovexiuer.diandian.com/submit" title="投稿">投稿</a></li>
            <li><a class="toolbar-icon icon-fm" target="_blank" href="http://lovexiuer.diandian.com/fm" title="电台">电台</a></li>
            <li><a class="toolbar-icon icon-archive" target="_blank" href="http://lovexiuer.diandian.com/archive" title="存档">存档</a></li>
            <li><a class="toolbar-icon icon-rss" target="_blank" href="http://lovexiuer.diandian.com/rss" title="RSS">RSS</a></li>
            
                
                <li><a class="toolbar-icon icon-ex-open" target="_blank"></a></li>
                
            
        </ul>
        
    </div>

            
        </div>

        
        <div id="timeline" class="timeline clearfix"></div>
        <div class="timeline-loading"></div>

        <script type="text/template" id="timelinePostTemplate">
            <div class="post post-<%= post.type %>" data-id="<%= post.id %>" data-url="<%= post.url %>" id="post-<%= post.id %>">
                <a class="post-arrow" target="_blank" href="<%= post.url %>" title="<%= post.date %>"></a>
                <div class="post-meta">
                    <div class="operation-bar">
                        <a href="<%= post.url %>" target="_blank" title="全文链接" class="icon-redirect">全文链接</a>
                        <% if (true === showReblog) { %>
                            <a href="http://www.diandian.com/reblog/<%= post.id %>" target="_blank" title="转载" class="icon-reblog">转载</a>
                        <% } %>
                        <% if (true === showFav) { %>
                            <iframe src="http://www.diandian.com/n/common/faviframe/<%= post.id %>?width=20&height=20&fav_sprite=<%= encodeURIComponent('http://x.papaapp.com/farm1/90ecce/457a2a68/fav.png') %>" class="fav-iframe" frameborder="0" allowtransparency="true" scrolling="no"></iframe>
                        <% } %>
                    </div>
                    <a href="<%= post.url %>" target="_blank" class="post-date"><%= post.date %></a>
                    <a href="<%= post.url %>" target="_blank" class="post-type icon-<%= post.type %>"><%= post.type_name %></a>
                </div>
                <div class="post-content">
                    <% if (post.player) { %>
                        <div class="player"><%= post.player %></div>
                    <% } %>
                    <% if (post.src && post.width && post.height) { %>
                        <a class="img-holder" href="<%= post.url %>" target="_blank">
                            <img src="<%= post.src %>" width="<%= post.width %>" height="<%= post.height %>">
                        </a>
                    <% } %>
                    <% if (post.type === 'link') { %>
                        <h2 class="title"><a target="_blank" href="<%= post.link_url %>"><%= post.title || post.link_url %></a></h2>
                    <% } %>
                    <% if (post.type !== 'link' && post.title) { %>
                        <h2 class="title"><%= post.title %></h2>
                    <% } %>
                    <% if ((post.type === 'text' && post.summary) || post.desc) { %>
                        <div class="rich-content<% if (post.title) { %> rich-content-with-title<% } %>">
                            <%= post.summary || post.desc %>
                        </div>
                    <% } %>
                </div>
            </div>
        </script>
        
        <div class="se-list">
            
                <h2 class="tit"><a href="http://lovexiuer.diandian.com/post/2014-03-17/40061283367">xiuer</a></h2>
            
                <h2 class="tit"><a href="http://lovexiuer.diandian.com/post/2014-01-01/40060633457">13到14</a></h2>
            
                <h2 class="tit"><a href="http://lovexiuer.diandian.com/post/2013-12-12/40060411727">城南旧事</a></h2>
            
                <h2 class="tit"><a href="http://lovexiuer.diandian.com/post/2013-12-11/40060402661">闭上眼睛我的心</a></h2>
            
                <h2 class="tit"><a href="http://lovexiuer.diandian.com/post/2013-12-06/40060334438">生日</a></h2>
            
                <h2 class="tit"><a href="http://lovexiuer.diandian.com/post/2013-11-20/40060165577">身边</a></h2>
            
                <h2 class="tit"><a href="http://lovexiuer.diandian.com/post/2013-10-10/40053665667">你给我的感动</a></h2>
            
                <h2 class="tit"><a href="http://lovexiuer.diandian.com/post/2013-10-07/40052134071">给你的第一封信
</a></h2>
            
                <h2 class="tit"><a href="http://lovexiuer.diandian.com/post/2013-10-07/40052689503">love letter 1</a></h2>
            
                <h2 class="tit"><a href="http://lovexiuer.diandian.com/post/2013-10-07/40052519064"> &nbsp;&nbsp;&nbsp;突然发现已经好久没有动手写点东西了，呵呵，今天端午节，坐在实验室里，回想着自己这一年来的点点滴滴，是应该记录一下我这寥寥又感动的毕业时刻了。

 &nbsp;&nbsp;&nbsp;该从何讲起呢？呵呵，工科生难免笔头生疏，那我就随想随记了，首先谈谈我这一年里的收获吧，这一年里，我爱着一个女孩，做着一份工作，持着一份学业，交着一群好基友。

 &nbsp;&nbsp;&nbsp;我的工作是初级程序员，在实验室里写代码，谈需求，理逻辑，敲键盘，调bug，半年有余了，最欣慰的时刻是调通程序和领津贴的时候，还有和师兄们一起在破食堂喷饭的时候，呵呵，虽然有时是需要加班赶任务，但是这一段经历下来，我还是很庆幸，走过了这一段程序员入门，现在项目快交付了，但是需要学习的还有更多更多，希望自己以后在这条道路上慢慢地继续一步一步的走下去。呵呵。

 &nbsp;&nbsp;&nbsp;大学里最后的一年，不用上很多课，之前总是很渴望哪天会因为什么重大事件，然后学校停课之类的幼稚想法，现在要离开了，每每走在学校里，常常会有种很羡慕周边学弟学妹的感觉，羡慕他们能大大咧咧的骂道今天的课有多么无聊，今天在课堂上谁和谁又成了爆笑的料。呵呵，收拾一下心情，我也要出发继续我的研究生生涯了，另一段学生时光，会是什么样的呢？我倒是幻想导师能时不时发点工资，嘿嘿，这样我就能多去看看我家那傻瓜了。

 &nbsp;&nbsp;&nbsp;毕业了，当然少不了聚散离合，呵呵，不过在这个皇家理工的招牌下，多的自然而然是一些比较随性的男生们，所以分开的时候，离别的伤感气氛或许并不会多于那些由男生之间的爱而引发的爆笑，哈哈，有时候离开并不是一种再也不见，或许会是为了十年后的那次众位江湖豪杰的欢聚一堂，说到我们这群好基友们，或许文字能描述的只会是我们粗糙低俗的表面，哈哈，只可意会，不可言传，呵呵，毕业了，在我看来，是一份在一起的精彩绽放在了黑色的夜里，像烟火，各人的光与亮，就让大家自己去尽情燃烧吧！再见，呵呵，终能再见。 &nbsp;&nbsp;&nbsp;

 &nbsp;&nbsp;&nbsp;哎呀，貌似不能再写下去了，组长要来查进度了。。。。。。。先装一会儿，稍后再续。

&nbsp;

&nbsp;

 &nbsp;&nbsp;&nbsp;呵呵，最想说的当然要在一段平静后再慢慢的道来。说起她，我不知道要怎么下笔，小固执？小坚持？小懒惰？小勤奋？小愚蠢？小理智？小脑袋不灵光？还是.........？ 都是的，她还是一个简单的，还是那个我最初认识的那个傻姑娘~


 &nbsp;&nbsp;&nbsp;&nbsp;爱你，爱着你

 &nbsp;&nbsp;&nbsp;&nbsp;

 &nbsp;&nbsp;&nbsp;

</a></h2>
            
        </div>
        

        

        
    </div>
    
    <script type="text/javascript">
    var ENV = window.ENV || {};
    ENV.ViewType = "list";
    ENV.Keyword = "";
    ENV.CateType = "";
    ENV.ShowFav = true;
    ENV.ShowReblog = true;
    </script>    <script type="text/javascript" src="http://x.papaapp.com/farm1/90ecce/21ac0940/timeline.js"></script>    

    

<iframe src="http://acl.a.papaapp.com/acl.html?2" width="0" height="0" frameborder="0"></iframe><script type="text/javascript">

  var _ddgaq = _ddgaq || [];
  _ddgaq.push(['DDGAT._setAccount', 'UA-30555696-1']);
  _ddgaq.push(['DDGAT._setDomainName', '.diandian.com']);

_ddgaq.push(['DDGAT._setAllowLinker', true]);
  _ddgaq.push(['DDGAT._addOrganic', 'baidu', 'word']);
  _ddgaq.push(['DDGAT._addOrganic', 'soso', 'w']);
  _ddgaq.push(['DDGAT._addOrganic', 'youdao', 'q']);
  _ddgaq.push(['DDGAT._addOrganic', 'sogou', 'query']);
  _ddgaq.push(['DDGAT._trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = 'http://s.papaapp.com/js/base/ga.$5928.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</body></html><!--RenderTime:'578'(Mars:'169')--><!--Host Name: db13.dd.hn-->
