
{% load staticfiles %}
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html lang='zh-cn'>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <link rel="stylesheet" type="text/css" href="{% static 'musicApp/plugin/musicplayer/plugin/css/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'musicApp/plugin/musicplayer/demo/css/demo.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'musicApp/css/musicApp.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'musicApp/css/bootstrap.css' %}" media="screen">
    <link rel="stylesheet" type="text/css" href="{% static 'musicApp/css/carousel.css' %}">
<!--     <link rel="stylesheet" type="text/css" href="{% static 'musicApp/css/slidebar.min.css' %}"> -->
    <!-- <script type="text/javascript" src="{% static 'musicApp/js/jquery-1.10.2.min.js' %}"></script> -->

    <!-- Add bootstrap lib -->
    <!-- 最新 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="{% static 'musicApp/common/dist/css/bootstrap.min.css' %}">
    <!-- 可选的Bootstrap主题文件（一般不用引入） -->
    <link rel="stylesheet" href="{% static 'musicApp/common/dist/css/bootstrap-theme.min.css' %}">
    <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
    <script src="{% static 'musicApp/common/dist/js/jquery.min.js' %}"></script>
    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="{% static 'musicApp/common/dist/js/bootstrap.min.js' %}"></script>
    <!-- END:Add bootstrap lib -->

    <script type="text/javascript" src="{% static 'musicApp/plugin/musicplayer/demo/js/jquery-1.6.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'musicApp/plugin/musicplayer/plugin/jquery-jplayer/jquery.jplayer.js' %}"></script>
    <script type="text/javascript" src="{% static 'musicApp/plugin/musicplayer/plugin/ttw-music-player-min.js' %}"></script>



</head>

<body data-spy="scroll" data-target="#affix-nav" position="relative">
    <!-- load music list -->
    <div id='content'>
        <input type='hidden' id='myPlaylist_input' value='{{myPlaylist2}}'/>
    </div>
    <!-- navbar -->
    <div class="navbar-wrapper">
        <div class="container">
            <div class="navbar navbar-default navbar-static-top" role="navigation">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="#"> WELCOME </a>
                    </div>
                    <div class="navbar-collapse collapse">
                        <ul class="nav navbar-nav">
                            <li class="active"><a href="#">Love</a></li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">About <b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li><a href="#">About</a></li>
                                    <li class="divider"></li>
                                    <li class="dropdown-header">Nav header</li>
                                    <li><a href="#">Contact</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- logo -->
<!--     <div id='user_home_logo'>
        <div id='logo'></div>
    </div> -->

    <!-- channel list panel -->
    <div class="container">
        <div class="row">
            <!-- affix-nav -->
            <div id="affix-nav" class="bs-docs-sidebar col-md-4 col-sm-4 hidden-xs">
                <ul class="nav sidenav" data-spy="affix" data-offset-top="290" data-offset-bottom="450">
                    <!-- Moon MHZ -->
                    <li class="active" ><a href="#">Moon MHz</a></li>
                    <li>
                        <a href="#love_channel" style="color=rgba(138, 148, 156, 0.91)">
                            <div class="cover-wrap">                
                                <img class="cover img-circle" src="http://img3.douban.com/img/fmadmin/icon/27675.jpg">      
                            </div>             
                            <div>                 
                                <div class="slide-lable">红心MHz</div>              
                            </div>  
                        </a>                   
                    </li>
                    <li>
                        <a href="#random_channel" style="color=rgba(138, 148, 156, 0.91)">
                            <div class="cover-wrap">                              
                                <img class="cover img-circle" src="http://img3.douban.com/img/fmadmin/icon/26375.jpg">
                            </div>             
                            <div>                 
                                <div class="slide-lable">随心MHz</div>          
                            </div>  
                        </a>                   
                    </li>

                    <!-- Xiuer MHZ -->
                    <li ><a href="#">xiuer MHz</a>
                    </li>
                    <li>
                        <a href="#" style="color=rgba(138, 148, 156, 0.91)">
                            <div class="cover-wrap">                              
                                <img class="cover img-circle" src="http://img3.douban.com/img/fmadmin/icon/26383.jpg">
                            </div>             
                            <div>                 
                                <div class="slide-lable">随心MHz</div>          
                            </div>  
                        </a>                   
                    </li>
                    <li>
                        <a href="#" style="color=rgba(138, 148, 156, 0.91)">
                            <div class="cover-wrap">                
                                <img class="cover img-circle" src="http://img3.douban.com/img/fmadmin/icon/26373.jpg">      
                            </div>             
                            <div>                 
                                <div class="slide-lable">红心MHz</div>              
                            </div>  
                        </a>                   
                    </li>
                    <!-- Liang MHZ -->
                    <li ><a href="#">liangliang MHz</a>
                    </li>
                    <li>
                        <a href="#" style="color=rgba(138, 148, 156, 0.91)">
                            <div class="cover-wrap">                              
                                <img class="cover img-circle" src="http://img3.douban.com/img/fmadmin/icon/21222.jpg">
                            </div>             
                            <div>                 
                                <div class="slide-lable">随心MHz</div>          
                            </div>  
                        </a>                   
                    </li>
                    <li>
                        <a href="#" style="color=rgba(138, 148, 156, 0.91)">
                            <div class="cover-wrap">                
                                <img class="cover img-circle" src="http://img3.douban.com/img/fmadmin/icon/19041.jpg">      
                            </div>             
                            <div>                 
                                <div class="slide-lable">红心MHz</div>              
                            </div>  
                        </a>                   
                    </li>

                </ul>
            </div>
            <!-- content -->
            <section id="content" class="col-md-8 col-sm-8 col-xs-12">
                <article id="love_channel">
                    <h2><a href="#" target=""></a></h2>
                    <section id="">
                        <section id="">
                            <h3 style="margin-left: 39px;color: gray;">红心.MHz</h3>
                            <p style="margin-left: 39px;color: gray;">在属于你的放松地带，释放心灵</p>
                            <ul>
                            {% if UserMusicList_C1 %}
                                {% for music in UserMusicList_C1%}
                                <li style="height:130px">
                                    <div class="cover-wrap" style="width: 125px;height: 125px;">                         
                                        <img class="img-thumbnail" src="{{ music.musicPicUrl }}">             
                                    </div>             
                                    <div>
                                        <ul>
                                            <div class="userhome-music-li">{{music.musicName}}</div>
                                            <div class="userhome-music-li">歌手 {{music.musicArtist}}</div>
                                            <div class="userhome-music-li">专辑 {{music.musicAlbumtitle}}</div>
                                            <div class="userhome-music-li">发行时间 {{music.musicPubTime}}</div>
                                            <a href="{% url 'musicApp:music-oneMusicHome' music.id %}" target='_blank' style="color: rgba(34, 81,231, 0.69);font-size: 13px; margin-left: 25px">试听</a> 
                                            <a href="{% url 'musicApp:music-unlove' music.id %}"><div class="unlove-icon"></div></a>
                                        </ul>                 
                                    </div>  
                                </li>
                                {% endfor %}
                            {% endif %}
                            </ul>
                        </section>
                    </section>
                </article>
                <br />
                <article id="random_channel">
                    <h2><a href="#" target=""></a></h2>
                    <section id="">
                        <section id="">
                            <h3 style="margin-left: 39px;color: gray;">随心.MHz</h3>
                            <p style="margin-left: 39px;color: gray;">在偶遇的音乐世界里，慢慢寻找属于你的那首歌</p>
                            <ul>
                            {% if UserMusicList_C0 %}
                                {% for music in UserMusicList_C0%}
                                <li style="height:130px">
                                    <div class="cover-wrap" style="width: 125px;height: 125px;">                         
                                        <img class="img-thumbnail" src="{{ music.musicPicUrl }}">             
                                    </div>             
                                    <div>
                                        <ul>
                                            <div class="userhome-music-li">{{music.musicName}}</div>
                                            <div class="userhome-music-li">歌手 {{music.musicArtist}}</div>
                                            <div class="userhome-music-li">专辑 {{music.musicAlbumtitle}}</div>
                                            <div class="userhome-music-li">发行时间 {{music.musicPubTime}}</div>
                                            <a href="{% url 'musicApp:music-oneMusicHome' music.id %}" target='_blank' style="color: rgba(34, 81,231, 0.69);font-size: 13px; margin-left: 25px">试听</a> 
                                            <a href="{% url 'musicApp:music-love' music.id %}"><div class="love-icon"></div></a>
                                        </ul>                 
                                    </div>  
                                </li>
                                {% endfor %}
                            {% endif %}
                            </ul>
                        </section>
                    </section>
                </article>

            </section>  
        </div>
    </div>

</body>
</html>